#drum-wrapper {
  font-size: 10px;
  background: url("./Media/Images/background3.jpg") bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid rgb(3, 90, 25);
  border-radius: 10rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 5rem;
  text-align: center;
  color: rgb(226, 223, 35);
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  margin: 2px;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 2rem;
}

.sound {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
  font-weight: 900px;
}

kbd {
  background-color: rgba(0, 0, 0, 0);
}
